html,
body {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --color-dark: #39393A;
    --color-accent: #0FA3B1;
    --color-light: #F6F7EB;
    --color-white: #fbfbfb;
}

.center {
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cover {
    background-color: var(--color-dark);
    padding: 0;
    height: 100vh;
}


.light-font {
    color: var(--color-light);
}


.accent-text {
    color: var(--color-accent) !important;
}

.dark-text {
    color: var(--color-dark);
}

* {
    margin: 0;
}

.cursor {
    -webkit-animation: blink .7s infinite;
    -moz-animation: blink .7s infinite;
    animation: blink .7s infinite;
    opacity: 1;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

a {
    font-size: 25px;
    text-decoration: none;
}

.link-effect a {
    color: var(--color-light);
    margin: 0 20px;
    padding: 10px 0;
    position: relative;
    -moz-transition: ease-out 0.3s 0.1s;
    -o-transition: ease-out 0.3s 0.1s;
    -webkit-transition: ease-out 0.3s;
    -webkit-transition-delay: 0.1s;
    transition: ease-out 0.3s 0.1s;
}
.link-effect a::after {
    height: 2px;
    width: 100%;
    background: var(--color-light);
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.link-effect a:hover::after, .link-effect a:focus::after {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.about {
    height: 100vh;
    padding: 10vh;
    text-align: center;
    background-color: var(--color-white);
    color: var(--color-dark);
    margin-bottom: -226px;
}

.about.slant-container, .about.slant-container:before {
    background-color: var(--color-white);
    color: var(--color-dark);
}

.about.slant-container:before {
    transform: skewY(3.5deg);
}

.projects {
    min-height: 100vh;
    padding: 10vh;
    text-align: center;
    background-color: var(--color-accent);
    color: var(--color-white);
}

.slant-container {
    padding: 10%;
    padding-top: 100px;
    background: var(--color-accent);
    position: relative;
    color: var(--color-white);
}

.slant-container:before {
    content: '';
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 100px;
    background: var(--color-accent);
    transform: skewY(-3.5deg);
}

.project-container {
    width: 100%;
    height: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
    align-items: flex-start;
}

.flip-container {
    position: relative;
    margin: 10px 5px;
    width: 35%;
    min-width: 200px;
    max-width: 300px;
    min-height: 120px;
    perspective: 1000px;
}

.flip-container:hover .project, .flip-container.hover .project {
    transform: rotateY(180deg);
}

.project {
    transition: 0.6s;
    transform-style: preserve-3d;
    min-height: inherit;
}

.front, .back {
    color: var(--color-dark);
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
    transform: rotateY(0deg);
}

.back {
    font-size: 25pt;
    transform: rotateY(180deg);
}

.title {
    padding-top: 10px;
}

.icon-link .fa {
    vertical-align: middle;
    line-height: 120px;
    font-size: 36px;
    color: #444;
    transition: color 150ms ease-in-out, font-size .2s ease-in-out;
}

.icon-link.fill.github:hover .fa-github {
    color: #737373;
    font-size: 48px;
}

.live {
    text-decoration: none;
    color: var(--color-dark);
    transition: color 150ms ease-in-out, font-size .2s ease-in-out;
}

.live:hover {
    color: #737373;
    font-size: 34px;
}

.inset {
    padding: 8px 10px 10px;
    font-size: 12pt;
}

@media (min-width: 1024px) {
    #cover h1 p {
        font-size: 42px;
        font-weight: 400;
    }
    #cover h1 strong {
        font-size: 46px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    #cover h1 p {
        font-size: 38px;
        font-weight: 400;
    }
    #cover h1 strong {
        font-size: 42px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    #cover h1 p {
        font-size: 30px;
        font-weight: 400;
    }
    #cover h1 strong {
        font-size: 34px;
    }

    #contact button {
        font-size: .7em;
    }
    #contact p {
        font-size: .7em;
    }
    .flip-container {
        width: 100%;
    }
}