html,
body {
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

:root {
    --color-dark: #39393A;
    --color-accent: #0FA3B1;
    --color-light: #F6F7EB;
    --color-white: #fbfbfb;
}

@media (min-width: 1024px) {
    #cover h1 p {
        font-size: 42px;
        font-weight: 400;
    }
    #cover h1 strong {
        font-size: 46px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    #cover h1 p {
        font-size: 38px;
        font-weight: 400;
    }
    #cover h1 strong {
        font-size: 42px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    #cover h1 p {
        font-size: 30px;
        font-weight: 400;
    }
    #cover h1 strong {
        font-size: 34px;
    }

    #contact button {
        font-size: .7em;
    }
    #contact p {
        font-size: .7em;
    }
}

.center {
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.fluid {
    min-height: 100%;
    padding: 0;
}

.fill {
    height: 100%;
    min-height: 100%;
}

.light-font {
    color: var(--color-light);
}

.cover-background {
    background-color: var(--color-dark);
}

.accent-text {
    color: var(--color-accent) !important;
}

* {
    margin: 0;
}

.cursor {
    -webkit-animation: blink .7s infinite;
    -moz-animation: blink .7s infinite;
    animation: blink .7s infinite;
    opacity: 1;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

a {
    font-size: 25px;
    text-decoration: none;
}

.link-effect a {
    color: var(--color-light);
    margin: 0 20px;
    padding: 10px 0;
    position: relative;
    -moz-transition: ease-out 0.3s 0.1s;
    -o-transition: ease-out 0.3s 0.1s;
    -webkit-transition: ease-out 0.3s;
    -webkit-transition-delay: 0.1s;
    transition: ease-out 0.3s 0.1s;
}
.link-effect a::after {
    height: 2px;
    width: 100%;
    background: var(--color-light);
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.link-effect a:hover::after {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.about {
    height: 100vh;
    padding: 10vh;
    text-align: center;
    background-color: var(--color-white);
    color: var(--color-dark);
}