html,
body {
    margin: 0;
    padding: 0;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

/*BREAKPOINTS*/

/*Default -> mobile*/
[class*="col-"] {
    width: 100%;
}

/*desktop*/
@media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

.header {
    margin: -15px;
    background-color: #434343;
}

.title {
    font-size: 34pt;
    color: #434343;
    margin: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

#item-group .row .item {
    padding-bottom: calc(5% + 10px);
    margin: auto;
    margin-right: 10px;
    margin-top: 10px;
    max-width: 92%;
}

#item-group .row .item a {
    text-decoration: none;
    border-bottom: 1px dotted #292929;
    color: #292929;
}
#item-group .row .item {
    border-bottom: none;
    color: #434343;
}
