doctype html
html
    head
        meta(charset='UTF-8')
        title I Am Aaron
        meta(name='viewport', content='width=device-width, initial-scale=1')

        link(rel='stylesheet', href='../style/index.css')
    body
        #cover.fluid.fill.cover-background
            h1.center.text-center
                p.light-font Hi,
                p.light-font
                    | my name is
                    |
                    strong.accent-text Aaron Goidel
                p.light-font
                    | and I'm
                    |
                    strong.accent-text a programmer

